@using GitHubExcersize
@model IEnumerable<RepoResult>



@using (Html.BeginForm("search", "home"))
{
    <div class="prog">
        <input id="term" name="term" />
        <button type="submit">Search</button>
    </div>
}
    <div class="row">
        <div class="col-lg-5">
            <h1>Projects</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Owner</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var proj in Model)
                {
                    <tr data-name="@proj.Name" data-owner="@proj.Owner">
                        <td>@proj.Name</td>
                        <td>@proj.Owner</td>
                        <td> <button class="bookmarkBtn">Bookmark</button></td>
                    </tr>

            }
                </tbody>
            </table>
        </div>
        <div class="col-lg-5">
            <h1>Bookmarked</h1>
            <table class="table" id="bookmarked">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Owner</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

<script>
    $(document).ready(function () {
        $('.bookmarkBtn').click(function () {
            var tr = $(this).closest('tr')
            var nm = tr.data('name');
            var ownr = tr.data('owner');
            var ob = {
                bookmarkRepo: { Name: nm, Owner: ownr }
            };
            $.ajax({
                type: "POST",
                url: '/home/Bookmark',
                data: ob,
                success: function (data) {
                    alert('Bookmarked');
                    tr.remove();
                    var tbl = $('#bookmarked').find('tbody')
                    tbl.html('')
                    $(data).each(function (i, repo) {
                        var template = '<tr><td>{Name}</td><td>{Owner}</td></tr>'
                        template = template.replace('{Name}', repo['Name'])
                        template = template.replace('{Owner}', repo['Owner'])
                        tbl.append(template)
                    })
                }
            });
        });
    })


</script>