<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />


    <link href="~/NGClient/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body style="background-color:lightgray">
    @RenderBody()
    <script src="~/bundles/inline.bundle.js"></script>
    <script src="~/bundles/polyfills.bundle.js"></script>
    <script src="~/bundles/styles.bundle.js"></script>
    <script src="~/bundles/vendor.bundle.js"></script>
    <script src="~/bundles/main.bundle.js"></script>
    
</body>
</html>
